<h1 *ngIf="!isChange" mat-dialog-title>Cadastro Cliente</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editando Cliente</h1>

<div mat-dialog-content>

  <img *ngIf= "data.urlImage!=''" height="100" width="100" [lazyLoad]="data.urlImage">
  <div [formGroup]="dadosCliente">

    <mat-form-field>
      <mat-label>Inscrição</mat-label>
      <input formControlName="inscricao" maxlength="18" placeholder="Inscrição" matInput mask="00.000.000/0000-00"
        [(ngModel)]="data.cliente.inscricao">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apelido</mat-label>
      <input formControlName="apelido" maxlength="50" placeholder="Apelido" matInput [(ngModel)]="data.cliente.apelido">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input formControlName="nome" maxlength="50" placeholder="Nome" matInput [(ngModel)]="data.cliente.nome">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <select formControlName="status" [(ngModel)]="data.cliente.status" matNativeControl required>
        <option value="ATIVADO">ATIVADO</option>
        <option value="DESATIVADO">DESATIVADO</option>
        <option value="SUSPENSO">SUSPENSO</option>
      </select>
    </mat-form-field>

  </div>

  <div [formGroup]="tabelaEmail">

    <mat-form-field>
      <input matInput maxlength="20" formControlName="categoria" placeholder="Categoria" matInput>
    </mat-form-field>

    <mat-form-field>
      <input matInput maxlength="20" formControlName="nome" placeholder="Nome do Email" matInput>
    </mat-form-field>

    <mat-form-field>
      <input matInput maxlength="30" formControlName="email" placeholder="Email" matInput>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addDescricaoRejeito()">Adicionar</button>

  </div>

  <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element">{{element.categoria}}</td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element">{{element.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="deleteClickTabelaEmbalagem(element)" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>


<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button *ngIf="!isChange" mat-button (click)="confirmDialog()" cdkFocusInitial>Salvar</button>
  <button *ngIf="isChange" mat-button (click)="confirmDialog()" cdkFocusInitial>Editar</button>
</div>
